<form method="POST" class="m-5" enctype="multipart/form-data">

  <div class="mb-3">
    <label for="textArea" class="form-label">Новый Щебет</label>
    <textarea name="text" class="form-control" id="textArea" rows="3"></textarea>
  </div>


  <div class="mb-3">
    <input type="file" name="picture" class="form-control" id="picture" placeholder="picture">
  </div>


  <button type="submit" class="btn btn-primary mt-3">Прощебетать</button>
</form>
