<h4 class="mt-3 mb-3">Зарегистрироваться</h4>
<form method="POST">
  <div class="form-floating mb-3">
    <input type="text" name="name" class="form-control" placeholder="Your name">
    <label for="floatingInput">Your name</label>
  </div>
  <div class="form-floating mb-3">
    <input type="email" name="email" class="form-control" placeholder="name@example.com">
    <label for="floatingInput">Email address</label>
  </div>
  <div class="form-floating">
    <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
    <label for="floatingPassword">Password</label>
  </div>
  <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>
